* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(49, 49, 49);
    color: rgb(238, 238, 238);
    padding: 10px 20px 10px 20px;
    margin: 10px 0px 20px 0px;
}

.sidebar-button-wrapper {
}

.title {
    text-align: center;
}

.title h1 {
    margin: 0;
}

.loggedIn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.loggedIn div {
    padding-right: 1em;
}

.container {
    position: relative;
    width: 100%;
}

.container-center {
    width: min(80vw, 800px);
    margin: auto;
}

.forms-item {
    padding: 10px;
    margin: 5px;
    background-color: gray;
    border: 1px;
    border-color: rgb(97, 97, 97);
}

.forms-item:hover {
    background-color: black;
    color: white;
}

.form-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
    width: 100%;
    margin-top: 10px;
}

.form-video-wrapper iframe {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    border: 0px;
}

.movements-list {
    margin-left: 20px;
}

.movements-item {
    padding: 5px;
    margin: 5px 5px 5px 5px;
    background-color: gray;
    border: 1px;
    border-color: rgb(97, 97, 97);
    font-size: small;
}

.movements-item:hover {
    background-color: black;
    color: white;
}

.item-selected {
    background-color: black;
    color: white;
}