<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tai Chi Coach</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Consider EJS service side templating</h1>
</body>
</html>